<menu>
  <section>
    <button class="w-fit sm tertiary grayscale" routerLink="" routerLinkActive="active">
      <icon class="material-symbols-rounded">dashboard</icon>
      <text>Dashboard</text>
    </button>
    <button class="w-fit sm tertiary grayscale" routerLink="teams" routerLinkActive="active">
      <icon class="material-symbols-rounded">diversity_3</icon>
      <text>Teams</text>
    </button>
  </section>
  <section *ngIf="data$ | async as data">
    <div>
        <button class="w-fit sm secondary primary">
          <icon class="material-symbols-rounded">switch_account</icon>
          <text>{{data.accounts[0].name}}</text>
        </button>
    </div>
    <div>
      <img [src]="data.user.picture"
           alt="Your picture">
    </div>
  </section>
</menu>
<router-outlet></router-outlet>
